<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./typography.css">
    <title>engineUI | typograpgy</title>
</head>

<body>

</body>
<div class="heading">
    <div class="h1">Heading1</div>
    <div class="h2">Heading2</div>
    <div class="h3">Heading3</div>
    <div class="h4">Heading4</div>
    <div class="h5">Heading5</div>
    <div class="h6">Heading6</div>
</div>
<div class="paragraph">
    <div class="p-lg underline">Paragraph large underlined</div>
    <div class="p-md line-through">paragraph medium with line through</div>
    <div class="p-sm">paragraph small</div>
</div>

</html>