<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="card.css">
    <title>Card</title>
</head>

<body>
    <div class="card">
        <div class="img-div">
            <img src="./image.jpg" alt="wokrs">
        </div>
        <div class="text-div">
            <div class="header-top">Our Changing Planet</div>
            <div class="header-bottom">by Piyush Sharma</div>
            <div class="description">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator</div>
            <ul>
                <li class="card-icons text-icon">Read</li>
                <li class="card-icons text-icon">Bookmark</li>
                <li class="card-icons"><i class="lni lni-heart"></i></li>
                <li class="card-icons"> <i class="lni lni-share-alt-1"></i></li>
                <li class="card-icons"><i class="lni lni-more-alt"></i></li>
            </ul>
        </div>

    </div>
    <div class="card text-over-card">
        <div class="img-div">
            <img src="./image.jpg" alt="wokrs">
        </div>
        <div class="text-div">
            <div class="header-top">Our Changing Planet</div>
            <div class="header-bottom">by Piyush Sharma</div>
            <div class="description">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator</div>
            <ul>
                <li class="card-icons text-icon">Read</li>
                <li class="card-icons text-icon">Bookmark</li>
                <li class="card-icons"><i class="lni lni-heart"></i></li>
                <li class="card-icons"> <i class="lni lni-share-alt-1"></i></li>
                <li class="card-icons"><i class="lni lni-more-alt"></i></li>
            </ul>
        </div>

    </div>
    <div class="card text-over-card">
        <div class="img-div">
            <img src="./image.jpg" alt="wokrs">
        </div>
        <div class="text-div">
            <div class="header-top">Our Changing Planet</div>
            <div class="header-bottom">by Piyush Sharma</div>
            <div class="description">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator</div>
            <ul>

                <li class="card-icons text-icon">Read</li>
                <li class="card-icons text-icon">Bookmark</li>
                <li class="card-icons"><i class="lni lni-heart"></i></li>
                <li class="card-icons"> <i class="lni lni-share-alt-1"></i></li>
                <li class="card-icons"><i class="lni lni-more-alt"></i></li>
                <li class="card-icons dismiss">❌</li>
            </ul>
        </div>

    </div>
    <div class="card text-over-card no-footer">
        <div class="img-div">
            <img src="./image.jpg" alt="wokrs">
        </div>
        <div class="text-div">
            <div class="header-top">Our Changing Planet</div>
            <div class="header-bottom">by Piyush Sharma</div>
            <div class="description">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator</div>
            <ul>

                <li class="card-icons dismiss">❌</li>
            </ul>
        </div>

    </div>
    <div class="card text-over-card no-desc">
        <div class="img-div">
            <img src="./image.jpg" alt="wokrs">
        </div>
        <div class="text-div">
            <div class="header-top">Our Changing Planet</div>
            <div class="header-bottom">by Piyush Sharma</div>
            <ul>
                <li class="card-icons text-icon">Read</li>
                <li class="card-icons text-icon">Bookmark</li>
                <li class="card-icons"><i class="lni lni-heart"></i></li>
                <li class="card-icons"> <i class="lni lni-share-alt-1"></i></li>
                <li class="card-icons"><i class="lni lni-more-alt"></i></li>
                <li class="card-icons dismiss">❌</li>
            </ul>
        </div>

    </div>

</body>

</html>