@import url("../../css/main.css");
.card {
    margin: var(--size10);
    width: var( --size20R);
    height: 25rem;
    border-radius: var(--size5P);
    position: relative;
    box-shadow: 1px 1px 22px var(--color-black);
}

.card .img-div img {
    border-radius: var(--size5P) var(--size5P) var(--size0P) var(--size0P);
    width: 21rem;
    height: 13em;
}

.text-div {
    margin: var(--size5P);
}

.card .text-div .description {
    font-size: var(--size8);
}

.card .text-div .header-top {
    font-weight: bolder;
}

.card .text-div .header-bottom {
    font-weight: bold;
}

.card .text-div .card-icons {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: var(--size10);
}

.card .text-div .card-icons:hover {
    border-radius: var(--rounded);
    width: var(--size14);
    height: var(--size14);
    color: var(--color-danger);
}

.card .text-div ul {
    display: flex;
    margin: var(--size5P) 0 0 0;
}

.card .text-div .card-icons.text-icon {
    background-color: var(--color-warning);
    height: var(--size16);
    width: var(--size35);
    border-radius: var(--size10P);
    padding: var(--size4);
}


/* text overlay picture */

.card.text-overlay-card {
    width: var(--size20R);
    height: var(--size22R);
}

.text-overlay-card .text-div .header-top {
    position: absolute;
    top: 40%;
    color: var(--color-white);
}

.text-overlay-card .text-div .header-bottom {
    position: absolute;
    top: 47%;
    color: var(--color-white);
}


/* dismiss button */

.card .text-div ul .dismiss {
    position: absolute;
    top: var(--size0P);
    right: -6%;
    font-size: var(--size8);
    width: var(--size16);
    height: var(--size15);
    background-color: var(--color-black);
}


/* without footer */

.card.text-overlay-card.no-footer {
    width: var(--size20R);
    height: var(--size20R);
}

.card.text-overlay-card.no-footer img {
    width: var(--size20R);
    height: var(--size12R);
}


/* without description */

.card.text-overlay-card.no-desc {
    width: var(--size20R);
    height: var(--size12R);
}

.card.text-overlay-card.no-desc img {
    width: 8.5rem;
    height: 7rem;
}

.card.text-overlay-card.no-desc .text-div .header-top {
    position: absolute;
    top: var(--size25);
    left: var(--rounded);
    color: inherit;
}

.card.text-overlay-card.no-desc .text-div .header-bottom {
    position: absolute;
    top: var(--size35);
    left: var(--rounded);
    color: inherit;
}