@import url(../../css/main.css);
.form {
    display: flex;
    flex-direction: column;
    padding: var(--size12);
    justify-content: center;
    flex-wrap: wrap;
}

.form label {
    margin: var(--sizee3) var(--size0) var(--size0) var(--size0);
    font-size: var(--size9);
}

.form .input,
.form .submit {
    padding: var(--size5);
    margin: var(--size8);
    border: var(--size1) solid var(--color-primary);
    outline: none;
}

.form input:focus {
    background-color: var(--white);
}

.form .submit:focus {
    background-color: var(--color-primary-hover);
}

.form .error-message {
    font-size: var(--size8);
    color: var(--color-error);
}

.form .submit {
    background-color: var(--color-primary-hover);
    border: var(--size0);
    cursor: pointer;
}

.form .error-input {
    background-color: var(--color-danger);
    border: var(--size1) solid var(--color-error);
}

.form .success-input {
    background-color: var(--color-background);
    border: var(--size1) solid var(--color-success-hover);
}

.form .success-message {
    font-size: var(--size8);
    color: var(--color-success);
}

.form .input-icon {
    display: flex;
    position: relative;
    flex-direction: column;
}

.form .input-icon .icon {
    cursor: pointer;
    position: absolute;
    left: 91%;
    top: 37%;
    height: var(--size8);
    width: var(--size13);
}

.submit {
    width: 20%;
}