<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="input.css">
    <title>EngineUI || Input</title>
</head>

<body>

    <div class="form">
        <label for="name"> Name*:</label>
        <input class="input" type="text" id="name" name="name" required>
        <label for="email"> Email*:</label>
        <input class="input success-input" type="email" id="email" name="emil" required>
        <div class="success-message">Success ✔</div>
        <label for="password1">Password*</label>
        <input class="input error-input" type="password1" id="password1" name="password2">
        <div class="error-message">Error Password ✘</div>
        <div class="input-icon">
            <label for="search">Search</label>
            <input class="input" type="search" id="search" name="search">
            <div class="icon"><img src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-search-ui-dreamstale-lineal-dreamstale-2.png" alt="image" /></div>
            <div class="error-message">Error Search ✘</div>
        </div>
        <input class="submit" type="submit" value="Submit" id="submit">
    </div>
</body>

</html>