<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="button.css">
    <title>Document</title>
</head>
<body>
  <h1>Buttons</h1>
<div class="button primary">Primary Solid</div>
<div class="button disabled">Primary disabled</div>
<div class="button outline">Primary outline</div>
<div class="button link">Primary link</div>
<h1>Icons with text</h1>

<div class="button text"> <img class="icon-text" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="img"/>Solid</div>
<div class="button text"> <img class="icon-text" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="img"/> Primary </div>
<div class="button text"> <img class="icon-text" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="img"/> action</div>
<h1>Icons only</h1>
<div class="button icon"><img class="icon" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="img"/></div>
<div class="button icon"><img class="icon" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="img"/></div>
<div class="button icon"><img class="icon" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="img"/></div>
<div class="button icon"><img class="icon" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="img"/></div>
<div class="button icon"><img class="icon" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="img"/></div>
   
</body>
</html>
