<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="button.css">
    <title>Button</title>
</head>

<body>
    <p>Buttons</p>
    <div class="button primary">Primary Solid</div>
    <div class="button disabled">Primary disabled</div>
    <div class="button outline">Primary outline</div>
    <div class="button link">Primary link</div>
    <p>Icons with text</p>

    <div class="button text"> <img class="icon-text" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="button floating-icon" />Solid</div>
    <div class="button text"> <img class="icon-text" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="button floating-icon" /> Primary </div>
    <div class="button text"> <img class="icon-text" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="button floating-icon" /> action</div>
    <p>Icons only</p>
    <div class="button floating-icon"><img class="icon" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="button floating-icon" /></div>
    <div class="button floating-icon"><img class="icon" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="button floating-icon" /></div>
    <div class="button floating-icon"><img class="icon" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="button floating-icon" /></div>
    <div class="button floating-icon"><img class="icon" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="button floating-icon" /></div>
    <div class="button floating-icon"><img class="icon" src="https://img.icons8.com/ios-filled/20/000000/home.png" alt="button floating-icon" /></div>

</body>

</html>