<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="avatar.css">
    <title>Document</title>
</head>
<body>
    <h1>Rounded avatars</h1>
<img class="avatar sm" src="./image.png" alt="">
<img class="avatar md" src="./image.png" alt="">
<img class="avatar lg" src="./image.png" alt="">
<img class="avatar xlg" src="./image.png" alt="">
<h1 class="">text avatars</h1>
<p class="avatar icon sm">A</p>
<p class="avatar icon md">B</p>
<p class="avatar icon lg">C</p>
<p class="avatar icon xlg">D</p>
<h1> curved radius</h1>
<img class="avatar curved sm " src="./image.png" alt="">
<img class="avatar curved md " src="./image.png" alt="">
<img class="avatar curved lg " src="./image.png" alt="">
<img class="avatar curved xlg" src="./image.png" alt="">
<h1>square avatar</h1>
<img class="avatar square sm " src="./image.png" alt="">
<img class="avatar square md " src="./image.png" alt="">
<img class="avatar square lg " src="./image.png" alt="">
<img class="avatar square xlg" src="./image.png" alt="">

</body>
</html> 