<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="navbar.css">
    <title>enginUI | navbar</title>
</head>

<body>
    <div class="nav-container">
        <div class="header">
            <div class="title">
                Navbar1
            </div>
        </div>
        <div>
            <ul class="links">
                <li class="items">Link1</li>
                <li class="items">Link1</li>
                <li class="items">Link1</li>
                <li class="items">Link1</li>
            </ul>
        </div>
    </div>
    <div class="nav-container nav-icons">
        <div class="header">
            <div class="title-logo"><i class="fab fa-angellist"></i></div>
            <div class="title">Navbar</div>
            <input type="text" class="input " placeholder="search ">

        </div>

        <div>

            <ul class="links ">
                <li class="items "><i class="fab fa-angellist"></i></li>
                <li class="items "><i class="fab fa-angellist"></i></li>
                <li class="items "><i class="fab fa-angellist"></i></li>
                <li class="items "><i class="fab fa-angellist"></i></li>

            </ul>
        </div>
    </div>

</body>

</html>