<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="toast.css">
    <title>enginUI | toast</title>
</head>

<body>
    <div class="toast-container">
        <div class="toast success sm">
            success!!
        </div>
        <div class="toast error md">
            error!!!
        </div>
        <div class="toast pending lg"> please wait!!! </div>

    </div>
</body>

</html>