@import url("../../css/main.css");
.toast {
    margin: var(--size40);
    display: flex;
    justify-content: center;
    align-items: center;
}

.success {
    background-color: var(--color-success);
    border: var(--size1) solid var(--color-success-hover);
}

.pending {
    background-color: var(--color-warning);
    border: var(--size1) solid var(--color-warning-hover);
}

.error {
    background-color: var(--color-danger);
    border: var(--size1) solid var(--color-error);
}

.sm {
    width: var(--size40);
    height: var(--size19);
    font-size: var(--size9);
    padding: 0 5%;
}

.md {
    width: var(--size10R);
    height: var(--size25);
    font-size: var(--size10);
    padding: 0 5%;
}

.lg {
    width: var(--size20R);
    height: var(--size28);
    font-size: var(--size10);
    padding: 0 5%;
}