<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="list.css">
    <title>enginUI | List</title>
</head>

<body>
    <div class="list-container">
        <ul class="list-style-none">
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
        </ul>
        <ul class="list-style-circle">
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
        </ul>
        <ul class="list-style-square">
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
        </ul>
        <ul class="list-style small-alpha">
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
        </ul>
        <ul class="list-style capital-alpha">
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
        </ul>
        <ul class="list-style small-roman">
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
        </ul>
        <ul class="list-style capital-roman">
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
        </ul>
    </div>
</body>

</html>