<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="badge.css">
    <title>Badge</title>
</head>

<body>
    <h1>Colored</h1>
    <div class="avatar-badge sm"><img src="./image.png" alt="dcimage">
        <div class="badge"></div>
    </div>
    <div class="avatar-badge md"><img src="./image.png" alt="idmage">
        <div class="badge offline"></div>
    </div>
    <div class="avatar-badge lg"><img src="./image.png" alt="imdage">
        <div class="badge"></div>
    </div>
    <div class="avatar-badge xlg"><img src="./image.png" alt="imadge">
        <div class="badge idle"></div>
    </div>
    <div class="avatar-badge md"><img src="./image.png" alt="imagdde">
        <div class="badge offline"></div>
    </div>
    <div class="avatar-badge lg"><img src="./image.png" alt="imagdde">
        <div class="badge "></div>
    </div>
    <h1>number [text]</h1>
    <div class="avatar-badge sm"><img src="https://img.icons8.com/fluency/50/000000/email-open.png" alt="email wo" />
        <div class="badge idle text">99-</div>
    </div>
    <div class="avatar-badge md"><img src="https://img.icons8.com/fluency/50/000000/email-open.png" alt="wodcjjde" />
        <div class="badge text">99+</div>
    </div>
    <div class="avatar-badge lg"><img src="https://img.icons8.com/fluency/50/000000/email-open.png" alt="email wo" />
        <div class="badge offline text">99-</div>
    </div>
    <div class="avatar-badge xlg"><img src="https://img.icons8.com/fluency/50/000000/email-open.png" alt="wodcjjde" />
        <div class="badge text">99+</div>
    </div>
    <div class="avatar-badge sm"><img src="https://img.icons8.com/fluency/50/000000/email-open.png" alt="email wo" />
        <div class="badge idle text">99-</div>
    </div>
    <div class="avatar-badge xlg"><img src="https://img.icons8.com/fluency/50/000000/email-open.png" alt="wodcjjde" />
        <div class="badge text">99+</div>
    </div>
</body>

</html>