@import url("../../css/main.css");

/* avatar  */

img {
    border-radius: var(--rounded);
}

.avatar-badge {
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
    position: relative;
    margin: var(--size8);
}


/* different sizes for avatars */

.avatar-badge.sm {
    height: var(--size18);
    width: var(--size18);
}

.avatar-badge.md {
    height: var(--size22);
    width: var(--size22);
}

.avatar-badge.lg {
    height: var(--size30);
    width: var(--size30);
}

.avatar-badge.xlg {
    height: var(--size40);
    width: var(--size40);
}


/* badges (default -green) */

.avatar-badge .badge {
    width: var(--size5);
    height: var(--size5);
    position: absolute;
    right: 10%;
    top: 80%;
    background-color: var(--color-success);
    border-radius: 50%;
    border: var(--size1) solid var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}

.avatar-badge.sm .badge {
    width: var(--size6);
    height: var(--size6);
}

.avatar-badge.md .badge {
    width: var(--size7);
    height: var(--size7);
}

.avatar-badge.lg .badge {
    width: var(--size8);
    height: var(--size8);
}

.avatar-badge.xlg .badge {
    width: var(--size8);
    height: var(--size8);
    top: 85%;
}

.avatar-badge .badge.busy {
    background-color: var(--color-error);
}

.avatar-badge .badge.offline {
    background-color: var(--color-icon);
}

.avatar-badge .badge.idle {
    background-color: var(--color-warning);
}


/* text badge */

.avatar-badge .badge.text {
    right: 0%;
    top: 1%;
    border: 0;
}

.avatar-badge.xlg .badge.text {
    top: 10%;
    width: var(--size22);
    height: var(--size12);
}

.avatar-badge.lg .badge.text {
    width: var(--size12);
    height: var(--size10);
    font-size: var(--size6);
}

.avatar-badge.md .badge.text {
    width: var(--size12);
    height: var(--size10);
    font-size: var(--size5);
}

.avatar-badge.sm .badge.text {
    width: var(--size9);
    height: var(--size9);
    font-size: var(--size4);
}