@import url("../css/main.css");
@import url("../../../index.css");
* {
    background-color: var(--color-lightblue);
    ;
}

.get-started-body {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: var(--size10);
    margin-top: var(--size10);
    margin-right: 10%;
}

.component-links {
    text-decoration: none;
    color: black;
    border-radius: 10%;
    padding: var(--size7) var(--size5);
}

.component-links:hover {
    text-decoration: none;
    color: var(--color-icon);
}

.component-list {
    margin: 0 0 0 var(--size5);
    padding: var(--sie5) var(--size9);
    font-size: var(--size10);
    height: 40rem;
    width: 15rem;
    overflow: auto;
}

.component-items {
    margin-bottom: var(--size12);
}

.get-started-content {
    margin: 3% 0 0 5%;
}

.get-started-header {
    font-size: var(--size12);
    margin-bottom: 5%;
    font-weight: bolder;
}

.get-started-link {
    width: 50rem;
    height: 18rem;
    border: 0;
    overflow: hidden;
}

.select {
    color: var(--color-success);
    font-size: var(--size11);
}

.box-wrapper {
    margin-bottom: 5%;
}