<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="modal.css">
    <title>Document</title>
</head>

<body>
    <div class="main-container">
        <!-- simple box container -->
        <div class="simple-modal">
            <div class="simple-modal-header">
                Dialog body text
            </div>
            <div class="simple-modal-action">
                <div class="simple-modal-action-action-1">
                    Action-1
                </div>
                <div class="simple-modal-action-action-2">
                    Action-2
                </div>
            </div>
        </div>
        <!-- column container -->
        <div class="column-modal">
            <div class="column-modal-header">
                Dialog Header
            </div>
            <div class="column-modal-action">
                <div class="column-modal-action-action-1">
                    Action-1
                </div>
                <div class="column-modal-action-action-2">
                    Action-2
                </div>
                <div class="column-modal-action-action-1">
                    Action-1
                </div>
                <div class="column-modal-action-action-2">
                    Action-2
                </div>

            </div>
        </div>
        <!-- confirmation container -->

        <div class="confirmation-modal">
            <div class="confirmation-modal-header">
                Dialog Header
            </div>
            <div class="confirmation-modal-action">
                <div class="confirmation-modal-action-action-1">
                    <input type="radio" name="confirm" value="item1">
                    <label for="">item1</label>
                </div>
                <div class="confirmation-modal-action-action-2">
                    <input type="radio" name="confirm" value="item2">
                    <label for="">item2</label>
                </div>
                <div class="confirmation-modal-action-action-1">
                    <input type="radio" name="confirm" value="item3">
                    <label for="">item3</label>
                </div>
                <div class="confirmation-modal-action-action-2">
                    <input type="radio" name="confirm" value="item4">
                    <label for="">item4</label>
                </div>
                <div class="confirmation-modal-action-action-1">
                    <input type="radio" name="confirm" value="item5">
                    <label for="">item5</label>
                </div>


            </div>
            <div class="simple-modal-action">
                <div class="simple-modal-action-action-1">
                    Action-1
                </div>
                <div class="simple-modal-action-action-2">
                    Action-2
                </div>
            </div>
        </div>
    </div>
</body>

</html>