<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet">
    <link rel="stylesheet" href="./snackbar.css">
    <title>enginUI | snackbar</title>
</head>

<body>
    <div class="simple-bar">
        <p class="simple-bar-content">Can't send this photo retry in 5 seconds, Maybe</p>
        <p class="simple-bar-retry">Retry</p>
        <p class="img-cross">✕</p>
    </div>

    <div class="stacked-container">
        <div class="stacked-message">
            Can't send this photo, retry in 5 seconds, Maybe ?
        </div>
        <div class="stacked-action">
            <p class="stacked-action-retry-message">Retry</p>
            <p class="stacked-action-cross-message">×</p>
        </div>
    </div>
</body>

</html>