@import url("../css/main.css");
@import url("../../get-started/getStarted.css");
* {
    background-color: var(--color-white);
}

.get-started-body {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: 20px;
    margin-top: 20px;
}

.component-links {
    text-decoration: none;
    color: black;
    border-radius: 10%;
    padding: 14px 10px;
}

.component-links:hover {
    text-decoration: none;
    color: var(--color-icon);
}

col.component-list {
    padding: 10px 10px;
    font-size: 16px;
    height: 400px;
    width: 190px;
    overflow: auto;
}

or: var(--color-success);
.component-items {
    margin-bottom: 20px;
}

.get-started-content {
    margin: 0 50px 150px 0;
}

.get-started-header {
    font-size: 20px;
    font-weight: bolder;
    margin: 5% 0;
}

.get-started-link {
    width: 600px;
    height: 250px;
    overflow: hidden;
    border: 0;
}

.select {
    color: var(--color-success);
    color: var(--color-success);
    font-size: 20px;
}