<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="alert.css">
    <title>Avatar component</title>
</head>
<body>

<div class="alert sm ">This is small alert &nbsp; <a class="link" href="http://this"> with link in it</a><alert icon  class="icon" src="https://alert icon .icons8.com/pastel-glyph/64/000000/error-cloud.png" alt="alert icon "/></div>
<div class="alert danger md">This is danger medium alert<alert icon  class="icon" src="https://alert icon .icons8.com/pastel-glyph/64/000000/error-cloud.png" alt="alert icon "/></div>
<div class="alert success lg">This is success large alert<alert icon  class="icon" src="https://alert icon .icons8.com/pastel-glyph/64/000000/error-cloud.png" alt="alert icon "/></div>
<div class="alert warning xlg">This is warning xlg alert <alert icon  class="icon" src="https://alert icon .icons8.com/pastel-glyph/64/000000/error-cloud.png" alt="alert icon "/></div>
<div class="alert info rounded">This is info rounded alert <alert icon  class="icon" src="https://alert icon .icons8.com/fluency-systems-regular/48/000000/xbox-x.png" alt="this alert icon "/></div>
<div class="alert primary md">This primary medium alert.<alert icon  class="icon" src="https://alert icon .icons8.com/windows/32/000000/info.png" alt="alert icon "/></div>
<div class="alert success lg">This is success large alert     <alert icon  class="icon" src="https://alert icon .icons8.com/wired/64/000000/react.png" alt="alert icon "/></div>
<div class="alert warning xlg">This is warning extra-large alert    <alert icon  class="icon" src="https://alert icon .icons8.com/pastel-glyph/64/000000/error-cloud.png" alt="alert icon "/></div>
<div class="alert info rounded xlg">this info extra-large rounded &nbsp;<a  class="link" href="http://this">link</a> <alert icon  class="icon" src="https://alert icon .icons8.com/pastel-glyph/64/000000/error-cloud.png" alt="alert icon "/></div>

</body>
</html>
